body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #a6a9a9;
    border-radius: 5px;
}

.left_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
}

#logo_name {
    margin-right: 50px;
    margin-left: 20px;
    color: #656060;
}

.left_header #showStadium {
    background: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    height: 80px;
}

.left_header #showStadium:hover {
    background-color: #586559;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    height: 80px
}

.left_header #toggleButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left_header #createStadium:hover {
    background-color: #586559;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    height: 80px;
}

.left_header #createStadium,#showStadium {
    background: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    height: 80px;
}


.right_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-evenly;
}

.right_header input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#find_input {
    margin: 0 auto;
}

#cancel_find_button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#find_button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mainHero {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 4px solid #998e8e;
    margin-right: 13px;
}

#sort {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#sort_button {
    background-color: #c16a15;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    width: 83%;
    height: 4px;
    background-color: #998e8e;
    border: grey;
}

#expenses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#count_button {
    background-color: #3248b7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

aside {
    flex: 1.5;
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    flex: 2;
    padding: 20px;
}

aside h2 {
    margin-top: 0;
}

aside label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

aside input[type="text"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

aside button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#stadiumList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.stadium-info {
    width: 180px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.stadium-info:last-child {
    margin-right: 0;
}

.stadium-info h3 {
    margin-top: 0;
}

.hidden {
    display: none;
}

#toggleButton {
    top: 10px;
    left: 30px;
}

.deleteButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 300px;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #555;
}

.deleteButton:hover {
    background-color: darkred;
}